:root {
  --white: #fff;
  --whitesmoke: #f2f2f2;
  --lightgray: #c0c0c0;
  --gray: #828282;
  --black: #000;
  --orange: #ee3b16;
  --red: #ff0000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /*16px = 100% -So- 10px = 62.5%*/
}

body {
  font-family: 'Open Sans', sans-serif;
}
img {
  max-width: 100%;
}

/*=================
REUSEABLE COMPONENT
==================*/
section {
  overflow: hidden;
}
.container {
  max-width: 1480px;
  width: 90%;
  margin: 0 auto;
}
.container-fluid {
  /*max-width: 1480px; */
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-size: 3.5rem;
  font-weight: 100;
  text-align: center;
  color: var(--black);
  padding-top: 6.5rem;
  padding-bottom: 4rem;
}

h2:after {
  content: '';
  display: block;
  background: var(--black);
  width: 8.5rem;
  height: 0.2rem;
  margin: 1rem auto;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
}

/*=================
      Header
==================*/

#preloader {
  background-color: var(--white);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.preloader-inner {
  background-image: url(img/loading.gif);
  background-repeat: no-repeat;
  width: 2.8rem;
  height: 2.8rem;
  position: fixed;
  top: 45%;
  right: 50%;
  /* transform: translate(-50%, -50%); */
}

.navbar {
  font-size: 1.3rem;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navbar-brand img {
  width: 10rem;
}

.nav-list {
  display: inline;
}
.nav-link {
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--gray);
}

.nav-link:hover {
  color: var(--orange);
}

.active {
  color: var(--orange);
  font-weight: bold;
}

/*=================
    Header Hero
==================*/
#header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 99999;
}
#header-hero {
  background-image: url(img/hero.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 93vh;
  min-width: 100%;
  min-height: 100%;
  letter-spacing: 0.3rem;
  display: flex;
  align-items: center;
}

#header-hero .box {
  color: var(--white);
  max-width: 100%;
  height: 20rem;
  text-align: center;
  overflow: hidden;
}
/* Corner */
.corner {
  position: fixed;
  right: 0;
  z-index: 9999;
}
.corner .body img {
  position: relative;
}
.corner .switcher img {
  position: absolute;
  margin: 4px 4px 0 0;
  right: 0;
  top: 0;
}
/*=================
      Slider
==================*/

.text-slider {
  max-width: 100%;
  height: 70px;
  overflow: hidden;
  display: block;
}
.text-slider h1 {
  /* font-size: 3.5vw; */
  font-size: max(3.5rem, 3.5vw);
  font-weight: 300;
  letter-spacing: 0.7rem;
}

#header-hero .insider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  column-gap: 7%;
  margin-top: 2rem;
}

#header-hero .box button {
  font-size: 1.7rem;
  padding: 1.7rem 2.5rem;
  letter-spacing: 0.2rem;
  color: var(--white);
  background-color: transparent;
  border: 0.1rem solid;
  cursor: pointer;
}
#header-hero .box button:hover {
  background-color: var(--white);
  color: var(--black);
}

#header-hero .box span {
  font-size: 1.7rem;
}

#header-hero .box img {
  position: relative;
  bottom: -5px;
  cursor: pointer;
}

/*=================
    About Us
==================*/

.sub-headline {
  display: block;
  margin: 0 auto;
  width: 60rem;
  font-size: 1.4rem;
  text-align: center;
}

#about-us p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

#about-us img {
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

/*=================
      Services
==================*/

#services {
  background-image: url(img/services-red.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: auto;
  padding-bottom: 3rem;
  color: var(--white);
}

#services h2 {
  color: var(--white);
}

#services h2:after {
  content: '';
  background: var(--white);
}

#services p {
  text-align: center;
  font-size: 1.5rem;
  max-width: 62rem;
  margin: auto;
}

#services .icons-wrapper {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 90px);
  grid-template-rows: repeat(3, auto);
  justify-content: space-around;
}

#services .icon-wrapper {
  width: 6rem;
  margin: 0 auto;
}
#services .icon {
  margin: 2rem 0;
  width: 6rem;
  height: 6rem;
}

#services .service-name {
  color: var(--white);
  text-align: center;
  font-weight: bold;
}

#services .ux {
  background-image: url('img/icons/ux.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#services .ux:hover {
  background-position: bottom;
  cursor: help;
}

#services .design {
  background-image: url('img/icons/design.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#services .design:hover {
  background-position: bottom;
  cursor: help;
}

#services .seo {
  background-image: url('img/icons/seo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#services .seo:hover {
  background-position: bottom;
  cursor: help;
}

#services .social {
  background-image: url('img/icons/social.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#services .social:hover {
  background-position: bottom;
  cursor: help;
}

#services .tech {
  background-image: url('img/icons/tech.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#services .tech:hover {
  background-position: bottom;
  cursor: help;
}

#services .commerce {
  background-image: url('img/icons/commerce.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#services .commerce:hover {
  background-position: bottom;
  cursor: help;
}

#services .icon i:hover {
  background: var(--white);
  color: var(--orange);
}

/*Top popup*/
.popup .popup-text {
  width: 12rem;
  bottom: 100%;
}

/*Bottom Arrow*/
.popup .popup-text::after {
  content: ' ';
  position: absolute;
  top: 100%;
  /* At the bottom of the popup */
  left: 50%;
  transform: translateX(-50%);
  margin-left: -0.8rem;
  border-width: 0.8rem;
  border-style: solid;
  border-color: var(--black) transparent transparent transparent;
}

/*Fade In popups (Animation)*/
.popup .popup-text {
  opacity: 0;
  transition: opacity 1s;
}

.icon:hover .popup-text {
  opacity: 0.8;
}

.popup {
  position: relative;
  display: inline-block;
}

.popup .popup-text {
  visibility: hidden;
  width: 23rem;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 0.3rem;

  /* Position the popup */
  position: absolute;
  z-index: 1;
  bottom: 5rem;
  left: -7rem;
}

.icon:hover .popup-text {
  visibility: visible;
  padding-bottom: 0.2rem;
  padding: 0 0 0.2rem 0.5rem;
}

.popup-text ul {
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
  padding-top: 0.8rem;
}

.popup-text ul li::before {
  color: var(--black);
  content: '\2022';
  color: var(--red);
  font-size: 3rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.popup-text ul li {
  display: flex;
  align-items: center;
  line-height: 1;
  font-style: italic;
}

/*=================
      Folio
==================*/

/* button */

.button-group {
  display: flex;
  justify-content: center;
}
.button {
  display: inline-block;
  padding: 0 2rem;
  margin-bottom: 3rem;
  border: none;
  background: none;
  font-size: 1.5rem;
  font-style: italic;
}

.button:hover {
  color: var(--orange);
}

.button.is-checked {
  color: var(--orange);
}

.button-group span {
  font-size: 1.5rem;
}

.gallery {
  width: 100%;
  display: block;
  padding: 100px 0;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.filter-item,
.button-group span {
  color: var(--orange);
  font-size: 17px;
  cursor: pointer;
  /* line-height: 1.2; */
  transition: all 0.3s ease;
  padding: 10px;
}
.filter-item.active {
  color: var(--black);
  font-weight: bold;
}
.gallery-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery-item:hover img {
  cursor: crosshair;
  cursor: url('./img/more.png'), default;
}
.gallery-item .gallery-item-inner:hover {
  background-color: var(--orange);
  color: var(--white);
}

.gallery-item .text {
  text-align: center;
  padding: 2rem 1rem;
}

.gallery-item h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.gallery-item p {
  font-size: 1.3rem;
  font-style: italic;
}

.gallery .gallery-item.show {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gallery .gallery-item.hide {
  display: none;
}

/*=================
        Team
==================*/
#team {
  text-align: center;
}

#team .team-members {
  display: flex;
  flex-direction: column;
}
#team .member-info {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 4rem;
}

#team img {
  width: 100rem;
  display: block;
  margin: auto;
}

#team em {
  font-size: 1.4rem;
}

#team p {
  font-size: 1.6rem;
}

#team .social i {
  font-size: 1.8rem;
  margin: 0 1rem;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  line-height: 3.4rem;
  border-radius: 50%;
  border: 0.2rem solid var(--lightgray);
  color: var(--lightgray);
}

#team .social i:hover {
  color: var(--black);
  border: 0.2rem solid var(--black);
}

/*=================
      Clients
==================*/

#clients {
  background-image: url(img/clients.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: var(--white);
  padding-bottom: 7rem;
}

.slide-head {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-around;
  margin-bottom: 1rem;
}
.slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.slide-head .active {
  opacity: 1;
}

.dot {
  opacity: 0.4;
}

.dot:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#clients h2 {
  color: var(--white);
}

#clients h2:after {
  content: '';
  background: var(--white);
}

/* Caption text */
.caption {
  color: var(--whitesmoke);
  width: 90%;
  margin: 0 auto;
  height: auto;
  text-align: center;
}

.caption h3 {
  font-size: 1.7rem;
  font-weight: 400;
}

.caption p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--gray);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  /* Makes it stay after animation */
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  width: 2rem;
  color: var(--white);
  position: absolute;
  left: 0;
  margin-left: 5rem;
}

.next {
  cursor: pointer;
  width: 2rem;
  color: var(--white);
  position: absolute;
  right: 0;
  margin-right: 5rem;
}

/*=================
      Footer
==================*/

#footer {
  background: var(--black);
  text-align: center;
}

#footer .contact {
  color: var(--gray);
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  justify-content: space-around;
}
.contact .items {
  flex: 1;
}
.contact i {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  color: var(--gray);
}

.contact h5 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gray);
}

#footer .social span {
  padding: 1rem;
}

#footer .social i {
  font-size: 1.8rem;
  color: var(--white);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  line-height: 3.6rem;
  border: 0.2rem solid var(--white);
}

.copyright {
  color: var(--white);
  padding: 4rem 0;
}

.copyright h5 {
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  color: var(--gray);
}
/*=================
  Media Quaries
==================*/

@media (max-width: 575px) {
  .navbar {
    padding: 5rem 0;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .text-slider {
    height: 50px;
  }
  .text-slider h1 {
    font-size: 3rem;
  }
  .gallery-items {
    grid-template-columns: 1fr;
  }
  .prev,
  .next {
    display: none;
  }
}
@media (min-width: 576px) {
  .text-slider {
    height: 50px;
  }

  .navbar {
    flex-direction: row;
  }
  .gallery-items {
    grid-template-columns: repeat(2, 1fr);
  }
  #services .icons-wrapper {
    justify-content: space-around;
  }
  #team .team-members {
    flex-direction: row;
  }
  .prev,
  .next {
    display: none;
  }
  #footer .contact {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .text-slider {
    height: 60px;
  }

  #services .icons-wrapper {
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, auto);
    justify-content: space-around;
  }
  .gallery-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .slide-head {
    grid-template-columns: repeat(4, auto);
  }
}

@media (min-width: 992px) {
  .text-slider {
    height: 70px;
  }
  #services .icons-wrapper {
    grid-template-columns: repeat(6, 90px);
    justify-content: space-around;
  }
  .gallery-items {
    grid-template-columns: repeat(4, 1fr);
  }
  .prev,
  .next {
    display: inline-block;
  }
}
